@media (max-width: 416px) {
  body {
    background-color: #DED8D5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  header {
    background-color: #464A5A;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 1fr 15%;
    align-items: center;
    justify-items: center;
    height: 60px;
  }

  .logo {
    width: 30px;
  }

  h1 {
    font-family: "Mulish", sans-serif;
    color: #FFF;
    font-weight: 300;
    margin: 0;
    justify-self: left;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    max-height: calc(100vh - 60px);
  }

  .principal {
    display: grid;
    height: calc(100vh - 60px);
    align-items: end;
  }

  .epic {
    width: 100vw;
  }

  .avatar {
    width: 160px;
  }

  .julio, .johan, .daniel, .omar {
    height: 50vh;
    align-content: center;
  }

  .team {
    display: grid;
  }

  .rrss {
    display: flex;
    justify-content: space-evenly;
  }

  h2 {
    font-family: "Mulish", sans-serif;
    color: #464A5A;
    padding: 5%;
    margin: 0;
  }

  p {
    font-family: "Roboto", sans-serif;
    color: #21242C;
    padding: 5% 10%;
    line-height: 1.7em;
    margin: 0;
  }
}