<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="about.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap")
        title M4A Devs
    body
        header
            img(src="./assets/images/back-arrow.svg", alt="")
            h1.title Sobre nosotros
            img.logo(src="./assets/images/logo-clon-uber-100-inverso 1.png", alt="logo club")
        main
            .principal
                h2 Somos M4A Devs
                p 
                    |M4A Devs es una empresa de desarrollo web y de software donde puedes llevar al mundo digital tu idea o negocio.
                    |Cuenta la historia que 1 Backend developer, 1 Data scientist y 2 frontend developers coincidieron en el universo para pertenecer al cohort 4 del team Ana del programa Platzi Master, comenzaron a plasmar sus ideas y habilidades en el mundo digital y de ahí nació éste gran equipo de talentos.
                img.epic(src="./assets/images/epic-win.png", alt="")
            .team  
                h2 Nuestro equipo
                .julio
                    img.avatar(src="./assets/images/avatar.svg", alt="")
                    p(style="font-weight: 700;") Julio Arroyave | Frontend
                    .rrss
                        img(src="./assets/images/github.svg", alt="")
                        img(src="./assets/images/linkedin.svg", alt="")
                        img(src="./assets/images/twitter.svg", alt="")
                .johan
                    img.avatar(src="./assets/images/avatar.svg", alt="")
                    p(style="font-weight: 700;") Johán Suárez | Frontend
                    .rrss
                        img(src="./assets/images/github.svg", alt="")
                        img(src="./assets/images/linkedin.svg", alt="")
                        img(src="./assets/images/twitter.svg", alt="")
                .daniel
                    img.avatar(src="./assets/images/avatar.svg", alt="")
                    p(style="font-weight: 700;") Daniel Silva | Backend
                    .rrss
                        img(src="./assets/images/github.svg", alt="")
                        img(src="./assets/images/linkedin.svg", alt="")
                        img(src="./assets/images/twitter.svg", alt="")
                .omar
                    img.avatar(src="./assets/images/avatar.svg", alt="")
                    p(style="font-weight: 700;") Omar Zamudio | Backend | Data Scientist
                    .rrss
                        img(src="./assets/images/github.svg", alt="")
                        img(src="./assets/images/linkedin.svg", alt="")
                        img(src="./assets/images/twitter.svg", alt="")

        