<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="profile.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap")
        title Club Profile
    body
        header
            img(src="./assets/images/back-arrow.svg", alt="")
            h1.title Tus datos
            img.logo(src="./assets/images/logo-clon-uber-100-inverso 1.png", alt="logo club")
        main
            img.user-profile(src="./assets/images/user-circle.svg", alt="")
            .name   
                h2 Nombre
                p Freddy
            .lastName
                h2 Apellido
                p Mercury 
            .phoneNumber
                h2 Número de teléfono
                p +573160000000
            .tripCount
                h2 Total del viajes realizados
                p 516
            button Edita tu información
        