@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  background: #ded8d5;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  color: #464a5a;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}
main .logo-club1 {
  margin-left: auto;
  width: 150px;
}
main .left-side,
main .right-side {
  display: grid;
  align-content: center;
  justify-content: center;
}
main .right-side {
  text-align: end;
  padding-right: 25%;
}
main .left-side {
  padding: 0 10%;
}
main h1,
main h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: normal;
}
main h3 {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-family: 'Mulish', sans-serif;
  background: none;
  color: #464a5a;
  font-weight: 300;
}
main .btn-login {
  padding: 10px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  margin-left: auto;
  background: rgba(247,172,27,0.6);
  color: #464a5a;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}
main .register {
  text-decoration: none;
  color: #464a5a;
  font-weight: 700;
}
footer {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #464a5a;
  justify-content: center;
  align-content: center;
}
.ed-modal-container {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
.ed-modal-content {
  display: flex;
  margin: 0 35%;
  align-items: center;
  border-radius: 50px;
}
.ventana-modal {
  border-radius: 25px;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-flow: column;
  height: 450px;
  width: 280px;
  background: #464a5a;
}
.titulo-login {
  margin-top: 25%;
  margin-bottom: 20%;
  font-size: 25px;
  line-height: 30px;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  color: #fff;
  background: #464a5a;
  text-align: left;
  padding: 0 10%;
}
.email,
.password {
  margin: 20px 10%;
  height: 30px;
  border-style: none;
  border-bottom: 2px solid #f7ac1b;
  background: #464a5a;
  font-size: 15px;
  line-height: 20px;
  padding: 5%;
}
.login {
  padding: 10px;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  margin: 10px auto;
  background: #21242c;
  color: #fff;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(33,36,44,0.5);
}
.text-register {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  background: #464a5a;
  color: #fff;
}
.login-register {
  text-decoration: none;
  color: #fff;
  background: #464a5a;
  font-weight: 800;
}
